body {
  background-image: url(assets/43749248_rfr_construction_caution_tape_ci_grande.jpg);
  background-size: cover;
}

.message {
  border: 1px solid yellow;
  height: 200px;
  width: 600px;
  background-color: black;
  color: white;
  margin: auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  padding-bottom: 30px;
}

.message > img {
  width: 100px;
  height: 100px;
}
